/* 
    <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 100 to 900
*/

.App-navbar {
  background-color: #17191e;
  align-items: center;
  display: flex;
  color: white;
  font-size: 30px;
  font-family: 'Inter';
  font-weight: 600;
  letter-spacing: 1px;
}